* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 80px;
    background-color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    height: 80px;
    line-height: 80px;
}

/*  FLEX  */

.align-it-cent {
    display: flex;
    align-items: center;
}

.just-cont-betw {
    display: flex;
    justify-content: space-between;
}

.just-cont-cent {
    display: flex;
    justify-content: center;
}

.dir-row {
    display: flex;
    flex-direction: row;
}

.dir-col {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.ali-it-end {
    display: flex;
    align-items: flex-end;
}

.gap {
    display: flex;
    gap: 2%;
}

/* CONTAINER */

.full-container {
    width: 100%;
    height: 80px;

}

.container-jumb {

    width: 100vw;
    padding-top: 180px;
    background-color: #B4D0E7;
    padding-bottom: 50px;
}

.medium-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.title {
    width: 100%;
    padding-bottom: 50px;
}

.col-30 {
    width: 30%;
}

.col-70>img.jumb {
    margin-bottom: -160px;
}

.col-70 {
    width: 70%;

}

.col-30,
.col-70,
.title {
    padding: 10px;
}

.container-small {
    width: 1000px;
    margin: 150px auto;
}

.col-33 {
    width: 31%;
    border: 1px solid lightgray;
}

.row-70 {
    width: 70%;
    border: 1px solid lightgray;
    border-right: 0;
}

.row-30 {
    width: 30%;
    border: 1px solid lightgray;
    border-left: 0;
}

.container-row {
    width: 100%;
}

/*  UTILITI */

.generic-button {
    padding: 0.5rem 1rem;
    border-radius: 0;
    border: 0;
}

.blue-button {
    color: white;
    background-color: #0061FF;
}

.blue-check {
    color: #0061FF;
}
.blue-link{
    color:#543CEF;
}

.button-col {
    width: 100%;
    text-align: center;
    padding: 0.75rem 1.25rem;
    border-radius: 0;
    border: 0;
}

nav>ul>li {
    margin: 0 20px;
}

ul {
    list-style: none;
}

li.padd-top {
    height: 80px;
    padding-top: 10px;
}

h1 {
    font-size: 5rem;

}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.5rem;

}
.size-h2{
    font-size: 2.5rem;
}

img.jumb, img.partner, img.pic-business {
    width: 100%;
}

.col-30>button.blue-button {
    margin: 50px 0;
}

.arrow {
    height: 30%;
    font-size: 2rem;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;

}

.cir-blue {
    border: 5px solid #0061FF;
}

.cir-light-grey {
    border: 1px solid lightgray;
}

.space {
    margin-right: 50px;
    display: inline-block;
}

.top-col {
    text-align: center;
    line-height: 40px;
    height: 40px;
    border: 1px solid lightgray;
}

.inside-col {
    margin: 20px;
}

.margin-t-b {
    margin: 15px 0;
}

.marg-tb-40 {
    margin: 40px 0;
}

.bord-bot {
    width: 20%;
    border: 1px solid lightgray;
}

.marg-top-30 {
    margin-top: 30px;
}
.marg-top-40{
    margin-top: 40px;
}
.marg-bot-40{
    margin-bottom: 40px;
}
.marg-bot-80{
    margin-bottom: 80px;
}
img.partner{
    padding-right: 50px;
}
button.margin-t-b{
    border: 1px solid black;
}
.text-cent{
    text-align: center;
}
.border-none >.col-33{
    border: 0;
}