* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 80px;
    background-color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    height: 80px;
    line-height: 80px;
}

footer{
    background-color: black;
    color: white;
}

/*  FLEX  */

.align-it-cent {
    display: flex;
    align-items: center;
}

.just-cont-betw {
    display: flex;
    justify-content: space-between;
}

.just-cont-cent {
    display: flex;
    justify-content: center;
}

.dir-row {
    display: flex;
    flex-direction: row;
}

.dir-col {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.ali-it-end {
    display: flex;
    align-items: flex-end;
}

.gap {
    display: flex;
    gap: 2%;
}
.gap-50{
    display: flex;
    gap: 50px
}

.ali-it-baseline {
    align-items: baseline;
}

/* CONTAINER */

.full-container {
    max-width: 100%;
    min-height: 80px;
}

.container-jumb {

    max-width: 100vw;
    padding-top: 180px;
    background-color: #B4D0E7;
    padding-bottom: 50px;
}

.medium-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.title {
    max-width: 100%;
    padding-bottom: 50px;
}

.col-30 {
    width: 30%;
}

.col-70>img.jumb {
    margin-bottom: -160px;
}

.col-70 {
    width: 70%;

}
.col-5{
    width: calc((100% / 5) - 50px);
    min-height: 80px;
}

.box-50 {
    width: 50%;
    aspect-ratio: 1/1;
}

.col-30,
.col-70,
.title {
    padding: 10px;
}

.container-small {
    width: 1000px;
    margin: 150px auto;
}

.col-33 {
    width: 31%;
    border: 1px solid lightgray;
}

.row-70 {
    width: 70%;
    border: 1px solid lightgray;
    border-right: 0;
}

.row-30 {
    width: 30%;
    border: 1px solid lightgray;
    border-left: 0;
}

.container-row {
    width: 100%;
}

.box-col-33 {
    width: calc(100% / 3);
}

.full-container>.container-small {
    padding: 100px 0;
    margin: 0 auto;
}

/*  UTILITI */

.generic-button {
    padding: 0.5rem 1rem;
    border-radius: 0;
    border: 0;
}

.blue-button {
    color: white;
    background-color: #0061FF;
}

.blue-check {
    color: #0061FF;
}

.blue-link {
    color: #543CEF;
}

.back-color {
    background-color: #B4D0E7;
}

.button-col {
    width: 100%;
    text-align: center;
    padding: 0.75rem 1.25rem;
    border-radius: 0;
    border: 0;
}

nav>ul>li {
    margin: 0 20px;
}

ul {
    list-style: none;
}

li.padd-top {
    height: 80px;
    padding-top: 10px;
}

h1 {
    font-size: 5rem;

}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.5rem;

}

.size-h2 {
    font-size: 2.5rem;
}

img.jumb,
img.partner,
img.pic-business {
    width: 100%;
}

.col-30>button.blue-button {
    margin: 50px 0;
}

.arrow {
    height: 30%;
    font-size: 2rem;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;

}

.cir-blue {
    border: 5px solid #0061FF;
}

.cir-light-grey {
    border: 1px solid lightgray;
}

.space {
    margin-right: 50px;
    margin-left: 5px;
}

.top-col {
    text-align: center;
    line-height: 40px;
    height: 40px;
    border: 1px solid lightgray;
}

.inside-col {
    margin: 20px;
}

.margin-t-b {
    margin: 15px 0;
}

.marg-tb-40 {
    margin: 40px 0;
}

.bord-bot {
    width: 20%;
    border: 1px solid lightgray;
}

.marg-top-30 {
    margin-top: 30px;
}

.marg-top-40 {
    margin-top: 40px;
}

.marg-bot-40 {
    margin-bottom: 40px;
}

.marg-bot-80 {
    margin-bottom: 80px;
}

img.partner {
    padding-right: 50px;
}

button.margin-t-b {
    border: 1px solid black;
}

.text-cent {
    text-align: center;
}

.border-none>.col-33 {
    border: 0;
}

.pad-t-b-40 {
    padding: 40px 0;
}

.pad-bot {
    padding-bottom: 40px;
}

.border-b-grey {
    border-bottom: 1px solid gray;
}
.wid{
    width: 100%;
}
h4>.ali-end{
   
}
.ali-end {
    display: block;
    text-align: end;
    font-size: 1.5rem;
}

.box-50>img {
    width: 50%;
    filter: invert(1);
}
.box-col-33 > img{
    width: 50%;
}

.back-green {
    background-color: #A2D39B;
    color: white;
    border: 10px solid #D1E9CD;
}

.back-dark-red {
    background-color: #61082B;
    
}

.back-light-blue {
    background-color: #0093CE;
}

.back-orange {
    background-color: #FF1C1C;
}

.back-water-green {
    background-color: #F5F5F5;
}

.back-red {
    background-color: #D5001F;
}

.back-blue-sky {
    background-color: #B4D0E7;
}

.back-blue {
    background-color: #0D237E;
}

.back-yellow {
    background-color: #FFD830;
}
.box-col-33.back-water-green{
    padding: 40px;
}
.col-5>ul>li{
    margin: 20px 0;
}
li>h3{
    margin: 35px 0;
}
.container-row > .bord-bot{
    width: 10%;
}
.size-arrow-up{
    font-size: 0.50rem;
}
.color-grey{
    color: lightgray;
}